@use "abstracts/defaults";

.icon {
	flex: 0 0 auto; // Prevent scaling
	display: inline-block;
	vertical-align: middle;
	color: defaults.$icon-color; // Avoid media query here so it is easier to modify the color
}
